<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="user-scalable=no, width=device-width, minimum-scale=1, maximum-scale=1">
    <title>静态文件管理</title>
    #include("share_css")
</head>
<body>
#include("header")
<div class="content why-hilo">
    <h2>编辑模板</h2>
    <p class="info">
        #(template.title) <br/>
    </p>

    <div class="layui-container">
        <form action="/addItem" method="post">
            <div style="text-align: -webkit-center;">
                <!-- 富文本 action -->
                <textarea name="content" id="demo" style="display: none;">#(template.content)</textarea>
                <script>
                    layui.use('layedit', function () {
                        var layedit = layui.layedit;
                        layedit.build('demo'); //建立编辑器
                    });
                </script>

                <!-- 富文本 end -->
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn">保存</button>
                        <a href="javascript:history.go(-1);" class="layui-btn layui-btn-primary">返回</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

#include("footer")
</body>
</html>